// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/* === Global === */
html, body {
  width: 100%;
}

a {
  color: black;
  transition: color 0.3s ease;

  &:hover {
    color: #DB384C;
    text-decoration: none;
  }
}

/* === Header === */

#logo-container {
  display: table;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

#logo {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  display: table-cell;
  vertical-align: middle;
}

#searchBar {
  margin: 20px 0;
}

#searchInput {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 34px;
  padding: 0.5rem 0.75rem;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: rgb(120, 82, 178);
  }
}

#header-widget {
  margin-top: 35px;
  width: 150px;
}

ul.navbar-nav {
  margin-left: 10px;

  li {
    margin: 0 10px;
    a {
      text-transform: uppercase;
    }
  }
}

nav.bg-inverse {
  background-color: #99C24D !important;
}

/* === Hero Slider === */
.carousel-caption {
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-item {
  img {
    object-fit: cover;
    width: 1680px;
    height: 500px;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.75rem;
  }
}

/* === Hero Section === */
#hero-section-about {
  background: url('http://tabarellivivai.dev/wp-content/uploads/2017/05/vivaio.jpg') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-porte-greffes {
  background: url('http://tabarellivivai.dev/wp-content/uploads/2017/05/Piante-a-tagliola.jpg') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-apples {
  background: url('http://placehold.it/1680x500') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-pears {
  background: url('http://placehold.it/1680x500') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-bio {
  background: url('http://tabarellivivai.dev/wp-content/uploads/2017/05/etichetta-certificazione-sanitaria.jpg') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-news {
  background: url('http://placehold.it/1680x500') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

#hero-section-contact {
  background: url('http://tabarellivivai.dev/wp-content/uploads/2017/05/Bins-per-stoccaggio-delle-mele.jpg') center fixed no-repeat;
  background-color: #eeeeee;
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

div.layer {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;

  h2 {
    font-size: 2.3rem;
  }
}

/* === Who Are We Section === */
#company-section {
  text-align: center;
  padding: 50px 0;

  h2 {
    margin-bottom: 20px;
  }
}

/* === Our Products Section */

#products-section {
  text-align: center;
  background-color: #F4EFE5;
  padding: 50px 0;

  h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

/* === Section 3 === */

#section-3 {
  padding: 30px 0;

  h2 {
    margin-bottom: 20px;
  }

  div.col-sm-4 {
    margin-bottom: 20px;
  }
}

/* === Tab Section === */
#tabs-section {
  padding: 35px 0;

  img {
    max-width: 100%;
    padding: 0 0 20px 0;
  }

  li {
    font-size: 1.5em;

    a {
      &:hover {
        color: $brand-primary;
      }

      &.active {
        border-left: 3px solid $brand-primary;
        color: $brand-primary;
      }
    }
  }

  h3 {
    padding: 0 0 20px 0;
  }

  p {
    padding: 0 0 20px 0;
  }
}

#variety img {
  padding-bottom: 0;
}

.card {
  display: inline-block;
  -webkit-column-break-inside: avoid;
  margin: 15px;
  position: relative;
  max-width: 350px;
}

/*
.card-img-overlay {
  background: rgba(90, 90, 90, 0.75);
  padding: 110px 0;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
  border-radius: 3px;

  h4 {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
*/

/* === Contact Page === */

div.address p {
  margin-bottom: 5px;
}

div.telNumber+iframe {
  margin-bottom: 20px;
}

div#contact,
div#contactForm {
  margin-top: 35px;
  margin-bottom: 50px;
}

/* === Footer === */
#footer {
  background: #99C24D;
  color: white;
  padding: 20px 0;

  ul li {
    display: inline;
    list-style-type: none;
    /* padding-right: 20px; */

    a {
      color: white;
      transition: color 0.3s ease;

      &:hover {
        color: #DB384C;
        text-decoration: none;
      }
    }
  }

  p {
    text-align: center;
  }

  #nav-footer ul{
    display: flex;
    justify-content: center;
  }
}
